@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #e5e5e5;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  height: 100%;
}

.decorations {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;

  :first-child,
  :last-child {
    position: absolute;
    width: 400px;
  }

  :first-child {
    top: 0;
    left: -160px;
  }

  :last-child {
    right: -160px;
    bottom: -120px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  padding-top: 100px;
}
